<div class="form-container">
    <div class="card card-container">
      <form name="form" (ngSubmit)="loginForm.form.valid && onFormSubmit()" #loginForm="ngForm" novalidate>
        <div class="form-group">
          <label for="login">Email</label>
          <input type="text" class="form-control" name="login" [(ngModel)]="data.login" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required #login="ngModel" />
          <div class="alert alert-danger" role="alert" *ngIf="login.errors && loginForm.submitted">
            <div *ngIf="login.errors['required']">
                Username is required
            </div>
            <div *ngIf="login.errors['pattern']">
                Username is not valid email
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password"  [(ngModel)]="data.password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,}$" #password="ngModel" />
          <div class="alert alert-danger" role="alert" *ngIf="password.errors && loginForm.submitted">
            <div *ngIf="password.errors['required']">
                Password is required
            </div>
            <div *ngIf="password.errors['pattern']">
              Password must be at least 8 characters and contains:
              <ul>
                  <li>at least 1 uppercase</li>
                  <li>at least 1 lowercase</li>
                  <li>at least 1 number</li>
                  <li>at least 1 special character [!@#$%^&*_=+-]</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="d-grid gap-2">
            <button class="btn btn-primary" >Login</button>
          </div>
        </div>
        <div class="form-group">
          <div class="alert alert-danger" role="alert" *ngIf="loginForm.submitted && message">
            Login failed: {{ message }}
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="alert alert-dark login-info" role="alert" (click)="setDemoCredentials()">
    USE DEMO CREDENTIALS: test@test.pl | 1qaz@WSX
  </div>