
.form-container {
    width: 500px;

    .card-container {
        padding: 50px;
    
        .form-group {
            margin-bottom: 20px;
    
            .alert {
                padding: 5px;
                margin-top: 2px;
            }
        }
    }
}

.login-info {
    position: fixed;
    bottom: 10px;
    width: 500px;
    text-align: center;

    &:hover {
        cursor: pointer;
    }
}